/* font import */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Poppins:wght@400;600;700;800&display=swap');

*{
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
}


.nav-icon{
    width: 50px;
}

nav {
    display: flex;
    background: rgb(144, 12, 43);
    background: linear-gradient(90deg, rgba(144, 12, 43, 1) 0%, rgba(199, 0, 57, 1) 65%, rgba(217, 0, 0, 1) 100%);
}

.nav-left{
    display: flex;
    flex: 95%;
    flex-wrap: wrap;
    align-items:center;
    margin: 0px 0px 0px 50px;
}

.nav-left ul li{
    list-style-type: none;
}

.nav-left ul li a{
    color: white;
    text-decoration: none;
}

.nav-left ul li a:hover{
    color: black;
}


.nav-right{
    display: flex;
    justify-content: center;
    flex: 5%;
    margin: 0px 70px;
    padding: 10px;
    flex-wrap: wrap;
}

.nav-right a {
    background-color: white;
    padding: 5px 10px;
    color: orangered;
    border-radius: 15px;
    text-decoration: none;
    height: 25px;
    width: 100%;
}

.nav-right a:hover {
    background-color: black;
}
