/* font import */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Poppins:wght@400;600;700;800&display=swap');

*{
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
}


.nav-icon{
    width: 50px;
}


/* bootstrap */
.container-fluid{
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.navbar-brand{
    margin-bottom: 5px ;
}

.navbar-brand img{
    width: 50px;
}
/* bootstrap */

nav {
    display: flex;
    background: rgb(144, 12, 43);
    background: linear-gradient(90deg, rgba(144, 12, 43, 1) 0%, rgba(199, 0, 57, 1) 65%, rgba(217, 0, 0, 1) 100%);
}

@media (max-width: 991.98px) {

    .container-fluid{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}