/* font import */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Poppins:wght@400;600;700;800&display=swap');


/* All Config Styling */
*{
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
}


/* text styling */
h1{
    font-weight: bold;
}


span{
    font-weight: bold;
    color: #930e2d;
}

h2{
    font-weight: 500 !important;
    color: #930e2d !important;
    text-align: center !important;
    margin: 5px 0px !important;
    font-size: x-large !important;
}

h5{
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 50px !important;
    color: #930e2d !important;
    font-size: xx-large !important;
    margin-bottom: 50px !important;
}

h4{
    text-align: center !important;
    font-size: medium !important;
}

p{
    text-align: justify;
    margin: 20px 0px;
}

/* Container */
.container-card{
    margin: 5%;
    padding: 50px;
    box-shadow: 0px 0px 20px #d5d5d5;
    border-radius: 10px;
}

.container-content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.left-content{
    display: flex;
    flex: 60%;
    flex-direction: column;
    flex-wrap: wrap;
}

.right-content{
    display: flex;
    flex: 30%;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-contact{
    display: flex;
    gap: 20px;
    margin: 20px 0px 20px 0px;
    flex-wrap: wrap;

}

.button-contact{
    background-color: #930e2d;
    color: white;
    border: none;
    border-radius: 30px;
    width: 120px;
    padding: 5px 0px;
}

.button-contact:hover{
    background-color: orangered;
}

.button-cv{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.container-sosmed{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin: 20px 0px 20px 0px;
}

button {
    background-color: #930e2d !important;
    color: white !important;
    padding: 6px 25px !important;
    border: none !important;
    border-radius: 20px !important;
    margin-top: 5px !important;
    font-size: 15px !important;
    cursor: pointer !important;
}

button:hover {
    background-color: orangered !important;
}

/* Icon Styling */
.fa-brands{
    color: black;
}

.fa-brands:hover{
    color: #930e2d;
}

.fa-solid{
    color: black;
}

.fa-solid:hover{
    color: #930e2d;
}


/* profile card */
.container-profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px 10px 0px;
}

.profile-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 0px 20px #d5d5d5;
    width: 70%;
    border-radius: 10px;
    align-items: center;
}

.image-profile{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

/* Project Card */

.container-project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 80px;
}

.container-card-project{
    margin: 20px 20px;
    padding: 25px;
    width: 350px;
    box-shadow: 0px 0px 20px #d5d5d5;
    border-radius: 10px;
}

.image-project-container{
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.image-project-list{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.distance-time-project p{
    color: grey;
    font-size: 15px;
}

.description-project p{
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    height: 40px;
}

.tech-card-container{
    margin: 40px 0px;
}

.tech-project{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.button-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.button-card-container button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin-top: 0px;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .container-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .left-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container-contact{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px 0px 20px 0px;
        flex-wrap: wrap;
    }    
    
}